.image-slider-validation {
  position:absolute;
  left: 0;
  bottom: 0;
  user-select: none;
  background: #fff;
  padding: 10px;
  border:#eee solid 1px;
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
  display: none;
  z-index: 50;
}
.image-slider-validation.active{
  display: block;
}



.image-slider-validation.loading .isv-loading {
  display: block;
}

.image-slider-validation.success .isv_handler_box i{
  border-color: rgba(29,199,174,1);
  background-color: rgba(29,199,174,0.1);
}
.image-slider-validation.success .isv_handler_box span {
  background-color: rgba(29,199,174,1);
  color:#fff;
}
.image-slider-validation.success .isv_handler_box b {
  color: rgba(29,199,174,1);
}

.image-slider-validation.fail .isv_handler_box i{
  border-color: rgba(244,122,121,1);
  background-color: rgba(244,122,121,0.1);
}
.image-slider-validation.fail .isv_handler_box span {
  background-color: rgba(244,122,121,1);
  color:#fff;
}
.image-slider-validation.fail .isv_handler_box b {
  color: rgba(244,122,121,1);
}

.isv-canvas {
  position: relative;
  width: 380px;
  height: 210px;
  background: #000;
  overflow:hidden;
}

.isv-slider, .isv-back {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.isv-loading {
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(255,255,255,0.9);
  display: none;
}
.isv_handler_box {
  height: 40px;
  line-height: 40px;
  text-align:center;
  position:relative;
  margin-top: 5px;
  background: #f6f8f9;
}
.isv_handler_box::before,.isv_handler_box i {
  content: '';
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border:#e3e6ea solid 1px;
}
.isv_handler_box i {
  border-color:rgba(30,145,248,1);
  background: rgba(30,145,248,0.5);
  width: 0;
}
.isv_handler_box b{  
  font-weight: normal;
  font-size: 14px;
  color:#44484b;
}

.isv-refresh {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 0;
  text-align: center;
  position:absolute;
  right: 36px;
  top: 5px;
  z-index: 3;
  cursor:pointer;
  transition: 0.15s;
  
}

.isv-refresh:hover {
  opacity: 0.5;
}

.isv-refresh:before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  background: url("./icon.png") -57px 0;
  width: 20px;
  height: 20px;
}

.isv-close {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 0;
  text-align: center;
  position:absolute;
  right: 10px;
  top: 5px;
  cursor:pointer;
  transition: 0.15s;
  z-index: 11;
}

.isv-close:hover {
  opacity: 0.5;
}

.isv-close:before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  background: url("./icon.png") -52px -21px;
  width: 20px;
  height: 20px;
}

.isv_handler_box span:before {
  content: '';
  width: 17px;
  height: 17px;
  display: inline-block;
  background-image: url("./icon.png");
  vertical-align:middle;
}

.isv_handler_box span {
  position:absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  font-size: 0;
  transition: background 0.2s;
}

.isv_handler_box span:hover,.isv_handler_box span:active{
  background:#1e91f8;
}
.isv_handler_box span:hover::before,
.isv_handler_box span:active::before{
  background-position: -18px 0;
}

.image-slider-validation.success .isv_handler_box span::before {
  width: 26px;
  height: 19px;
  background-position: 0 -18px;
}

.image-slider-validation.fail .isv_handler_box span::before {
  width: 24px;
  height: 28px;
  background-position: -27px -21px;
}




.isvg {
  width: 50px;
  height: 50px;
  animation: isvloading 3s linear infinite;
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.isvg .isvg-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: isv-circle 2s linear infinite;
  stroke: #1e91f8;
  fill: transparent;
}

@keyframes isvloading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes isv-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}